.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f6f8;
}

.card {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.buttons button {
  margin: 8px;
  padding: 8px 16px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.inc:hover {
  background: green;
  transform: translateY(-5px);
  color: blue;
}
.dec:hover {
  background: yellow;
  transform: translateY(-5px);
  color: blue;
}
.reset:hover {
  background: red;
  transform: translateY(-5px);
  color: blue;
}